{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel = "icon" href ="{% static 'favicons/ma.png' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OS Simulator</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'ossim/css/style.css' %}">
</head>

<body>
    <div class="jumbotron">
        <h1 class="font-weight-bold text-center">OS Simulator</h1>
        <p class="text-center"> K Prajwal | Navaneeth P | Tharun K </p>
    </div>

    <div class="container w-75">
        <div class="row row-col-lg-2">
            <div class="col-md-6">
                <div class="card shadow m-3 index-card">
                    <img class="card-img-top" src="{% static 'ossim/images/ps.jpg' %}" alt="PS">
                    <div class="card-body">
                        <h4 class="card-title">Process Scheduling</h4>
                    </div>
                    <a class="stretched-link" href="{%url 'process:index' %}"></a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card shadow m-3 index-card">
                    <img class="card-img-top" src="{% static 'ossim/images/sm.jpg' %}" alt="SM">
                    <div class="card-body">
                        <h4 class="card-title">Semaphores</h4>
                    </div>
                    <a class="stretched-link" href="{% url 'semaphores:index' %}"></a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card shadow m-3 index-card">
                    <img class="card-img-top" src="{%static 'ossim/images/ds.jpg' %}" alt="DS">
                    <div class="card-body">
                        <h4 class="card-title">Disk Scheduling</h4>
                    </div>
                    <a class="stretched-link" href="{% url 'disk:index' %}"></a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card shadow m-3 index-card">
                    <img class="card-img-top" src="{%static 'ossim/images/pr.jpeg' %}" alt="PR">
                    <div class="card-body">
                        <h4 class="card-title">Page Replacement</h4>
                    </div>
                    <a class="stretched-link" href="{% url 'page:page' %}"></a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card shadow m-3 index-card">
                    <img class="card-img-top" src="{%static 'ossim/images/ma.jpg' %}" alt="MA">
                    <div class="card-body">
                        <h4 class="card-title">Memory Allocation</h4>
                    </div>
                    <a class="stretched-link" href="{% url 'mat:home' %}"></a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card shadow m-3 index-card">
                    <img class="card-img-top" src="{%static 'ossim/images/fs.jpg' %}" alt="MA">
                    <div class="card-body">
                        <h4 class="card-title">File System</h4>
                    </div>
                    <a class="stretched-link" href="{% url 'filesystem:home' %}"></a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>

</html>