* {
    font-family: monospace;
}

.card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.index-card {
    max-width: 320;
    min-height: 230;
}

.sub-topic-list-item {
    max-width: 400px;
}